* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Navbar Style */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 120px;
    padding: 20px 0px;
}

header nav ul {
    display: flex;
    gap: 40px;
}

header nav ul li {
    list-style: none;
}

.btn-primary {
    padding: 12.5px 16px;
    border: 1px solid #30B868;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    background-color: #30B868;
}

.btn-primary:hover {
    background-color: #fff;
    border: 2px solid #30B868;
    color: #30B868;
    transition: .5s;
}

/* Hero Section */
.hero {
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .hero-section {
    margin: 60px 120px 100px 120px;
} */

main .hero-section .notes {
    padding: 8px 12px;
    border: none;
    color: #30B868;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 16px;
}

main .hero-section h1 {
    text-align: center;
    font-size: 60px;
}

main .hero-section p {
    text-align: center;
    color: #fff;
    margin: 20px;
    line-height: 25px;
    letter-spacing: 1px;
}

main .hero-section .hero-button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 25px;
}

main .hero-section .see {
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
}

.notes {
    background-color: #fdf8f8;
}

.notes .some-notes h1 {
    text-align: center;
    padding-top: 50px;
    margin-top: -20px;
}

.notes .some-notes p {
    text-align: center;
    font-size: small;
    letter-spacing: 1px;
    color: #627382;
    margin-bottom: 30px;
}

.notes .some-notes .cart-notes {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}

.notes .some-notes .cart-notes div {
    text-align: center;
    height: 300px;
    width: 322px;
    background-color: #fff;
}
.notes .some-notes .cart-notes .cart{
    padding: 20px;
}

.notes .some-notes .cart-notes .cart .img-box {
    background-color: #f95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}

.img-box img{
    height: 32px;
    width: 32px;
}
.notes .some-notes .cart-notes .cart h3{
    letter-spacing: 1px;
    margin-bottom: 20px;
}