* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Navbar Style */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 180px;
    padding: 20px 0px;
}

header nav ul {
    display: flex;
    gap: 40px;
}

header nav ul li {
    list-style: none;
    cursor: pointer;
}

.btn-primary {
    padding: 12.5px 16px;
    border: none;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    background-color: #30B868;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #ffa600;
    color: #ffffff;
    border: none;
    transition: .5s;
    cursor: pointer;
}

.btn-primary-2 {
    padding: 12.5px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    background-color: #30B868;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-primary-2:hover {
    background-color: #ffa600;
    color: #ffffff;
    border: none;
    transition: .5s;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .hero-section {
    margin: 60px 120px 100px 120px;
} */

main .hero-section .notes {
    padding: 8px 12px;
    border: none;
    color: #30B868;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 16px;
}

main .hero-section h1 {
    text-align: center;
    font-size: 60px;
}

main .hero-section p {
    text-align: center;
    color: #fff;
    margin: 20px;
    line-height: 25px;
    letter-spacing: 1px;
}

main .hero-section .hero-button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 25px;
}

main .hero-section .see {
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
}

/* Second Block */

.notes {
    background-color: #fdf8f8;
    padding: 0 80px;
}

.notes .some-notes h1 {
    text-align: center;
    padding-top: 50px;
    margin-top: -20px;
}

.notes .some-notes p {
    text-align: center;
    font-size: small;
    letter-spacing: 1px;
    color: #627382;
    margin-bottom: 30px;
}

.notes .some-notes .cart-notes {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}

.notes .some-notes .cart-notes div {
    text-align: center;
    height: 300px;
    width: 322px;
    background-color: #fff;
}

.notes .some-notes .cart-notes .cart {
    padding: 20px;
}

.notes .some-notes .cart-notes .cart .img-box {
    background-color: #f95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}

.img-box img {
    height: 32px;
    width: 32px;
}

.notes .some-notes .cart-notes .cart h3 {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* Third Block */
.solution {
    padding: 80px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.solution-section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.solution .solution-text .small-heading {
    font-size: small;
    letter-spacing: 1px;
    color: #30B868;
    margin-bottom: 8px;
}

.solution .solution-text h2 {
    font-size: 70px;
    font-weight: bold;
    color: #30B868;
    margin-bottom: 20px;
}

.solution .solution-text .description {
    font-size: small;
    letter-spacing: 1px;
    color: #627382;
    margin-bottom: 20px;
}

.solution .solution-text ul {
    list-style: none;
    line-height: 38px;
}

.solution .solution-text ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Challenge-section */
.Challenge-section {
    padding: 80px;
    margin: 0 120px;
}

.Challenge-section .challenge {
    background-color: #fdf8f8;
    padding: 120px;
}

.Challenge-section .challenge h1 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.Challenge-section .challenge p {
    font-size: small;
    letter-spacing: 1px;
    margin: 20px;
    color: #627382;
    text-align: center;
}

.btn-access {
    padding: 12.5px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    background-color: #30B868;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.btn-access:hover {
    background-color: #ffae00;
    border: non;
    transition: .5s;
    cursor: pointer;
}
/* Footer section */
footer{
    background-color: black;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    padding: 80px 200px;
}
.footer-section img{
    height: 60px;
    width: 140px;
    cursor: pointer;
}
.social-link{
    color: #fff;
    margin-bottom: 10px;
    font-size: 30px;
}
.footer-section .social-midea-icon i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
footer hr{
    border: none;
    height: 2px;
    background-color: white;
    margin: 0 200px 20px 200px;

}
.last-footer{
    padding-bottom: 20px;
}
footer .copywrite{
    color: #fff;
    margin-bottom: 20px;
    font-size: small;
    letter-spacing: 1px;
    text-align: center;
}